#container {
width: 1000px;
margin: 180px auto;
}

ul.gallery { 
    list-style: none;
}

ul.gallery li a {
    float: left;
    padding: 10px 10px 25px 10px;
    background: #eee;
    border: 1px solid #fff;
    margin:4px;
}

ul.gallery li a {
    float: left;
    padding: 10px 10px 25px 10px;
    background: #eee;
    border: 1px solid #fff;
    margin:4px;
    -moz-box-shadow: 0px 2px 15px #333;
    position: relative;
}
ul.gallery li a:hover {
    z-index: 10;
    -moz-box-shadow: 3px 5px 15px #333;
}

#ex2 img{
   height: 188px;
   width: 250px;
   margin: 0px;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -mos-transition: all 1s ease;
   transition: all 1s ease;
}

#ex2 img:hover {
   height: 301px;
   width: 400px;
   margin-left: 0px;
}

ul.gallery li a.pic-1 {
    z-index: 1;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

ul.gallery li a.pic-2 {
    z-index: 5;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.gallery li a.pic-3 {
    z-index: 3;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

ul.gallery li a.pic-4 {
    z-index: 6;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}
ul.gallery li a.pic-5 {
    z-index: 4;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.gallery li a.pic-6 {
    z-index: 10;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

ul.gallery li a.pic-7 {
    z-index: 8;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

ul.gallery li a.pic-8 {
    z-index: 9;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.gallery li a.pic-9 {
    z-index: 12;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

ul.gallery li a.pic-10 {
    z-index: 11;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

ul.gallery li a.pic-11 {
    z-index: 2;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.gallery li a.pic-12 {
    z-index: 10;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

#Layer6 {
	position:absolute;
	width:363px;
	height:55px;
	z-index:1001;
	left: 182px;
	top: 173px;
	background-image: url(../imagenes/4.jpg);
}

.Estilo5 {
font-size: 50px
}

.Estilo8 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#ex2 img{ 
width:250px; 
height:188px;
}

#ex2 {
	width: 1200px;
	margin: 50px auto;
	min-height: 15px;
}

#ex2 img {
	margin: 0px;
	opacity: 0.5;
	border: 20px solid #eee;
	
	/*Transition*/
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#ex2 img:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}





