#containernat{
top:100%;
left: 20%;
margin-top: 20px;
margin-left: 300px;
}

#gallerycss2 {
height:400px;
width:670px;
margin:3px;
clear:both;
border:3px solid #eaeaea;
padding:5px;
}

#gallery{
display:none;
}

#jgal {
padding:0;
margin:0.5;
list-style: none;
width:160px;
}

#jgal li {
opacity:.5;
filter:alpha(opacity=50);
float:left;display:block;
width: 60px;height:60px;
background-position:50% 50%; 
cursor:pointer;
border:3px solid #fff; 
outline:1px solid #ddd;
margin-right:13px;
margin-bottom:10px;
}

#jgal li img { 
position: absolute; 
top: 10px; 
left: 170px; 
display: none;
}

#jgal li.active img {
display:block; 
width:480px;
}

#jgal li.active, #jgal li:hover{
outline-color:#bbb;
opacity:.99;
filter:alpha(opacity=99);
}

#Layer6 {
	position:absolute;
	width:200px;
	height:38px;
	z-index:1001;
	left: 306px;
	top: 128px;
	background-image: url(../imagenes/3.jpg);
}